body {
	background-color: lightgray;
}
/*640x582*/
.works.item-1 .my-work.elemet-1 .all {
	/*Левый флот для блока с слайдером + радио*/
	float: left;
}

.my-work.elemet-1 #slides-1 article {
	float: left;
}

.my-work.elemet-1 #slides-1 .image {
	/*устанавливает общий размер блока с изображениями*/
	width: 3195px;
	line-height: 0;
}

.my-work.elemet-1 #overflow-1 {
	/*сркывает все, что находится за пределами этого блока*/
	width: 100%;
	overflow: hidden;
}

.my-work.elemet-1 article img {
	/*размер изображений слайдера*/
	width: 1065px;
}

.my-work.elemet-1 #desktop-1:checked ~ #slider-1 {
	/*размер всего слайдера*/
	/*максимальнная длинна*/
	max-width: 1065px;
}

.my-work.elemet-1 label,
a {
	/*при наведении на стрелки или переключатели - курсор изменится*/
	cursor: pointer;
}

.my-work.elemet-1 .all input {
	/*скрывает стандартные инпуты (чекбоксы) на странице*/
	display: none;
}

/*позиция изображения при активации переключателя*/
.my-work.elemet-1 #switch-1-1:checked ~ #slides-1 .image {
	margin-left: 0;
}

.my-work.elemet-1 #switch-1-2:checked ~ #slides-1 .image {
	margin-left: -100%;
}

.my-work.elemet-1 #switch-1-3:checked ~ #slides-1 .image {
	margin-left: -200%;
}

.my-work.elemet-1 #controls-1 {
	/*положение блока всех управляющих элементов*/
	margin: -105% 0 0 0;
	width: 100%;
	height: 350px;
}

.my-work.elemet-1 #active-1 label {
	/*	стиль отдельного переключателя*/
	border-radius: 50%;
	display: inline-block;
	width: 22px;
	height: 22px;
	background: aqua;
}

.my-work.elemet-1 #active-1 {
	/*	расположение блока с переключателями*/
	text-align: center;
	margin-top: 60%;
	vertical-align: middle;
}

.my-work.elemet-1 #active-1 label:hover{
	/*	поведение чекбокса при наведении*/
	background-color:  lightgray;
	border-color: lightgray ;
	/*	выполнение в любом случае*/
}

.my-work.elemet-1 #switch-1-1:checked ~ #active-1 label:nth-child(1),
.my-work.elemet-1 #switch-1-2:checked ~ #active-1 label:nth-child(2),
.my-work.elemet-1 #switch-1-3:checked ~ #active-1 label:nth-child(3) {
	/*свойства для радио при наведении*/
	background: lightgray;
	border-color: lightgray ;
}

.my-work.elemet-1 #slides-1 .image{
	/*анимация пролистывания изображений*/
	transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}
/*--------------------------------------------------------------------*/
.free_items .offer,
.free_items .offer:first-child {
	background-image: url(../img/raspberry-bg.png);
	background-repeat: no-repeat;
	height: 230px;
	max-width: 560px; 
}

.free_items .offer:last-child {
	background-image: url(../img/chocolate-bg.png); 
}

.icecreams_container_image > img {
	border-radius: 150px;
}

.icecreams_container_image:before {
	content: "";
	display: block;
	background-image: url(../img/hit.svg);
	background-repeat: no-repeat;
	width: 61px;
	height: 61px;
}

.description {
	margin: 0;
	padding: 0;
	display: flex;
}

.advantages_list {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	list-style-type: none;
	justify-content: space-around;
	position: relative;

}
.advantages_list .advantage.item {
	flex-basis: 500px;
	padding-left: 50px;
	position: relative;
}

.advantage.item .advantage-description:before {
	content: "";
	background-image: url(../img/ice-cream.svg);
	display: block;
	height: 49px;
	width: 49px;
	border-radius: 16px;
	position: absolute;
	left: 0;
}

.advantage.item:nth-child(2) .advantage-description:before {
	background-image: url(../img/eco.svg);
}

.advantage.item:nth-child(3) .advantage-description:before {
	background-image: url(../img/cow.svg);
}

.advantage.item:nth-child(4) .advantage-description:before {
	background-image: url(../img/thermometer.svg) ;
}

.news {
	background-image: url("../img/strawberry-bg.png");
	background-repeat: no-repeat;
	max-width: 560px;
	height: 220px;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	padding: 10px 20px 10px 20px;
	box-sizing: border-box;
}

.description .description_info{
	background-image: url(../img/waffle-bg.png);
	background-repeat: no-repeat;
	height: 306px;
	max-width: 1146px;
}

.news .new_text {
	width: 280px;
	line-height: 30px;
	font-size: 24px;
	text-decoration: underline;
	margin: 0;
}

.about-us .feedback {
	background-image: url(../img/bg-post.svg);
	background-repeat: no-repeat;
	height: 220px;
	max-width: 560px;
}

.map {
	display: flex;
	width: 100%;
	height: 429px;
	background-image: url(../img/map.png);
}

.map-image:after {
	content: "";
	display: block;
	background-image: url(../img/pin.svg);
	width: 80px;
	height: 140px;
}

.footer_info_list li:first-child .footer_button:before {
	content: "";
	display: inline-block;
	background-image: url(../img/heart.svg) no-repeat;
	width: 15px;
	height: 13px;
}

.footer_copyright .footer_description:before {
	content: "";
	display: block;
	background-image: url(../img/logo-htmlacademy.svg) no-repeat;
	width: 108px;
	height: 39px;
}
