body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  margin: 0;
  color: white;
  background-color: gray;
}

img {
  max-width: 100%;
}

.header_navigation_list {
  line-height: 18px;
}

.user_navigation {
  margin-right: 10px;
}

.user_navigation:nth-child(3) {
  margin-right: 0;
 
}

.time_work {
  margin-left: auto;
}

.time_work p {
  font-size: 14px;
  line-height: 16px;
  text-align: end;
}

.time_work a {
  font-size: 22px;
  line-height: 24px;
  text-decoration: none;
  color: #fff;
}

.slider {
  margin-bottom: 40px;
  position: relative;
}

header .slider_title {
  font-size: 60px;
  line-height: 60.35px;
}

header .slider_button {
  font-size: 32px;
  line-height: 44px;
}

.visually_hidden {
  display: none;
}

.user_navigation a {
  fill: #fff;
  color: #fff;
  text-decoration: none;
}

.user_navigation:not(:nth-child(3)) a:hover {
  fill: #000;
  color: #000;
}

/*--------------------HEADER--------------------------*/

.header_navigation_list {
  margin-right: auto;
  position: relative;
}

.header_navigation>a {
  margin-right: 25px;
  text-decoration: none;
}

.header_navigation:nth-child(1) {
  position: relative;
}

/*------------- под Каталог розовый---------------*/

.header_navigation:nth-child(1)>a {
  min-height: 32px;
  position: relative;
  display: flex;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  justify-content: center;
  align-items: top;
}

.sub_menu_list {
  list-style: none;
  position: absolute;
  /* padding: 10px 20px 20px 20px; */
  box-sizing: border-box;
  background-color: #fff;
  width: 142px;
  z-index: 5;
}

.sub_menu_list {
  display: none;
  padding: 0;
  margin: 0;
  border-radius: 5px;
  font-size: 14px;
  line-height: 16px;
}

.header_navigation:nth-child(1):hover .sub_menu_list {
  display: block;
}

.modal_menu {
  padding: 10px 20px;
  font-weight: 400;
  color: #000;
}

.modal_menu a {
  text-decoration: none;
  color: #000;
}

.modal_menu a:active {
  color: #fff;
}

.modal_menu:nth-child(1) {
  padding-bottom: 15px;
  font-weight: 700;
}

.modal_menu:nth-child(1)::after {
  content: "";
  display: block;
  width: 128px;
  height: 1px;
  box-shadow: -9px 15px 0 0 gray;
}

.modal_menu:hover {
  background-color: #fbded7;
}

.modal_menu:first-child:hover {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal_menu:last-child:hover {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.modal_menu:active {
  background-color: #f6b5a5;
  color: #fff;
}

/* .link {
  content: "";
  display: block;
  /* height: 1px; */

/* background-image: url("../img.underline.png"); */

/* opacity: 0.2; */

/* position: absolute; */

/* left: 205px; */

/* top: 47px; */

/* box-shadow: 0 18px 0 0 gray; */

/* width: 349px; 
  height: 1px;
  z-index: 202;
} */

.btn {
  background-image: -moz-linear-gradient( 90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
  opacity: 0.988;
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  border: none;
  border-radius: 23px;
  /* width: 165px; */
  min-height: 46px;
  padding: 12px 24px;
  background-color: #ff0000;
  box-sizing: border-box;
}

/* .btn.btn-link {
    background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
        background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
        background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
        opacity: 0.988;
        box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
        
} */

/*----------Позиционные стили--------------------*/

.container {
  width: 1146px;
  margin: 0 auto;
}

.main_header.container {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.main_header_navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header_navigation_list {
  display: flex;
  list-style: none;
  padding: 0;
  padding-left: 20px;
}

.user_navigation_list {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  list-style: none;
}

.user_navigation>a {
  width: 32px;
  min-height: 32px;
  position: relative;
  display: flex;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  justify-content: center;
  align-items: center;
}

.user_navigation:nth-child(1):hover>a,
.user_navigation:nth-child(2):hover>a,
.user_navigation:nth-child(3).basket>a {
  background-color: rgba(255, 255, 255, 1);
}

.user_navigation:nth-child(2)>a {
  width: 93px;
  border-radius: 20px;
}

.user_navigation:nth-child(3)>a {
  width: 117px;
  border-radius: 20px;
}
/*-----------модалка поиска--------------*/

/* .modal_search {
  display: none;
  position: absolute;
  right: 0;
} */

.modal_search_form {
  padding: 20px 15px;
  width: 341px;
  box-sizing: border-box;
  background-color: #f8f7f4;
  border-radius: 5px;
}

.modal_search_form input {
  border: none;
  box-shadow: 0 0 1px 0 gray;
  border-radius: 5px;
  padding: 9px 15px;
  width: 310px;
}


/*----МОдалка входа в хидере вход-------------*/
 .user_navigation:nth-child(1),
 .user_navigation:nth-child(2) {
  position: relative;
 }
.user_navigation:nth-child(2) a:hover ~ .modal_login,
.user_navigation:nth-child(1) a:hover ~ .modal_search {
  display: block;
}

.modal_login:hover,
.modal_search:hover {
  display: block;
}

.modal_login,
.modal_search {
  display: none;
  position: absolute;
  top: 37px;
  right: 0;
}

.modal_user_form {
  display: flex;
  flex-direction: column;
  width: 277px;
  background-color: #f8f7f4;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 0 20px;
}

.modal_user_form input {
  margin: 20px 0;
  border: none;
  box-shadow: 0 0 1px 0 gray;
  border-radius: 5px;
  padding: 9px 15px;
}

.modal_login_list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 13px;
  /* margin-left: auto; */
}

.modal_btn {
  width: 100px;
}


.modal_login_btn {
  font-style: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}

/**----------------------------------*/

/*-----------------СЛАЙДЕР----------------------*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

.site-wrapper {
  min-width: 940px;
  background-color: #849d8f;
  background-image: url("../img/slider-item1.png");
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease, background-color 0.5s ease;
  position: relative;
  /* Для демонстрации */
  /* min-height: 100vh; */
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/slider-item2.png");
}

.site-wrapper::after {
  background-image: url("../img/slider-item3.png");
}

.slider_container {
  width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

.slider {
  position: relative;
  padding-top: 245px;
  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;
  /* position: absolute; */
  list-style: none;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;
  /* position: absolute; */
  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.button {
  display: inline-block;
  padding: 12px 44px;
  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  cursor: pointer;
}

.button:hover,
.btn:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active,
.btn:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider {
  position: relative;
  /* margin-bottom: 50%; */
}

.slider-controls {
  position: absolute;
  bottom: 20px;
  left: 0;
  z-index: 20;
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-item {
  /* position: absolute; */
  /* padding-bottom: 40px; */
}

#product-1:checked~.site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider-item1.png");
}

#product-2:checked~.site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider-item2.png");
}

#product-3:checked~.site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider-item3.png");
}

#product-1:checked~.site-wrapper #slide1,
#product-2:checked~.site-wrapper #slide2,
#product-3:checked~.site-wrapper #slide3 {
  display: block;
}

#product-1:checked~.site-wrapper label[for="product-1"],
#product-2:checked~.site-wrapper label[for="product-2"],
#product-3:checked~.site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

/*-------------------------------------------------*/

.works.item-1 .my-work.elemet-1 .all {
  /*Левый флот для блока с слайдером + радио*/
  float: left;
}

.my-work.elemet-1 #slides-1 article {
  float: left;
}

.my-work.elemet-1 #slides-1 .image {
  /*устанавливает общий размер блока с изображениями*/
  width: 3195px;
  line-height: 0;
}

.my-work.elemet-1 #overflow-1 {
  /*сркывает все, что находится за пределами этого блока*/
  width: 100%;
  overflow: hidden;
}

.my-work.elemet-1 article img {
  /*размер изображений слайдера*/
  width: 1065px;
}

.my-work.elemet-1 #desktop-1:checked~#slider-1 {
  /*размер всего слайдера*/
  /*максимальнная длинна*/
  max-width: 1065px;
}

.my-work.elemet-1 label,
a {
  /*при наведении на стрелки или переключатели - курсор изменится*/
  cursor: pointer;
}

.my-work.elemet-1 .all input {
  /*скрывает стандартные инпуты (чекбоксы) на странице*/
  display: none;
}

/*позиция изображения при активации переключателя*/

.my-work.elemet-1 #switch-1-1:checked~#slides-1 .image {
  margin-left: 0;
}

.my-work.elemet-1 #switch-1-2:checked~#slides-1 .image {
  margin-left: -100%;
}

.my-work.elemet-1 #switch-1-3:checked~#slides-1 .image {
  margin-left: -200%;
}

.my-work.elemet-1 #controls-1 {
  /*положение блока всех управляющих элементов*/
  margin: -105% 0 0 0;
  width: 100%;
  min-height: 350px;
}

.my-work.elemet-1 #active-1 label {
  /*	стиль отдельного переключателя*/
  border-radius: 50%;
  display: inline-block;
  width: 22px;
  min-height: 22px;
  background: aqua;
}

.my-work.elemet-1 #active-1 {
  /*	расположение блока с переключателями*/
  text-align: center;
  margin-top: 60%;
  vertical-align: middle;
}

.my-work.elemet-1 #active-1 label:hover {
  /*	поведение чекбокса при наведении*/
  background-color: lightgray;
  border-color: lightgray;
  /*	выполнение в любом случае*/
}

.my-work.elemet-1 #switch-1-1:checked~#active-1 label:nth-child(1),
.my-work.elemet-1 #switch-1-2:checked~#active-1 label:nth-child(2),
.my-work.elemet-1 #switch-1-3:checked~#active-1 label:nth-child(3) {
  /*свойства для радио при наведении*/
  background: lightgray;
  border-color: lightgray;
}

.my-work.elemet-1 #slides-1 .image {
  /*анимация пролистывания изображений*/
  transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

/*--------------------------------------------------------------------*/

/*---------------------ПРЯМОУГОЛЬНЫЕ МАЛИНА И ШОКОЛАД------------*/

.free_items {
  display: flex;
  justify-content: space-between;
}

.offer {
  box-sizing: border-box;
  padding: 20px;
}

.free_items .offer_title {
  font-size: 35px;
  line-height: 41px;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.free_items .offer_data {
  font-size: 18px;
  margin: 0;
  padding: 0;
  margin-bottom: 45px;
  /* line-height: 22px; */
}

.free_items .offer,
.free_items .offer:first-child {
  background-image: url(../img/raspberry-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 230px;
  max-width: 560px;
  background-color: #ec5413;
  border-radius: 15px;
}

.free_items .offer:last-child {
  background-image: url(../img/chocolate-bg.png);
  background-size: cover;
  background-color: #804000;
  border-radius: 15px;
}

.offer.item--chocolate .btn {
  margin-left: 326px;
}

.offer.item--rusberry .btn {
  margin-left: 352px;
}

.btn {
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

/*-----------СТИЛИ КРУГЛЫХ МОРЖО--------*/

.icecreams {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.icecream {
  width: 267px;
  box-sizing: border-box;
  position: relative;
}

.icecream_inner {
  position: relative;
}

.icecream_inner>img {
  border-radius: 150px;
}

.icecream-hit:before {
  content: "";
  display: block;
  background-image: url(../img/hit.svg);
  background-repeat: no-repeat;
  width: 61px;
  min-height: 61px;
  position: absolute;
  z-index: 1;
}

.icecream_price {
  position: absolute;
  top: 190px;
  left: 0;
}

.icecream_price .symbol {
  display: inline-block;
  background-image: url(../img/ruble.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 26px;
  min-height: 31px;
  /* z-index: 1; */
}

.icecream_description {
  margin: 0;
  text-align: center;
}

.link {
  font-weight: 500;
  text-decoration: none;
}

.hidden-btn {
  display: none;
}

/*---------------------СТИЛИ ВАФЛИ-------------*/

.description {
  color: black;
  font-weight: 400;
}

.advantage_title h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.advantages_list .advantage_description {
  /* font-size: 16px; */
  /* line-height: 22px; */
}

.description {
  margin: 0;
  padding: 0;
  display: flex;
}

.advantages_list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-around;
  position: relative;
}

.advantages_list .advantage.item {
  flex-basis: 495px;
  padding-left: 50px;
  position: relative;
}

.advantage.item .advantage_description:before {
  content: "";
  background-image: url(../img/ice-cream.svg);
  display: block;
  background-size: cover;
  min-height: 49px;
  width: 49px;
  border-radius: 16px;
  position: absolute;
  left: 0;
  top: 5px;
}

.advantage.item:nth-child(2) .advantage_description:before {
  background-image: url(../img/eco.svg);
}

.advantage.item:nth-child(3) .advantage_description:before {
  background-image: url(../img/cow.svg);
}

.advantage.item:nth-child(4) .advantage_description:before {
  background-image: url(../img/thermometer.svg);
}

.description .description_info {
  background-image: url(../img/waffle-bg.png);
  background-repeat: no-repeat;
  border-radius: 15px;
  background-size: cover;
  height: 306px;
  max-width: 1146px;
  background-color: #804000;
  margin-top: 40px;
  padding: 30px 30px 30px 20px;
  box-sizing: border-box;
}

/*--------------------------КОНЕЦ ВАФЛИ----------------*/

.about-us {
  color: black;
  margin-top: 40px;
}

.about-us.container {
  display: flex;
  justify-content: space-between;
}

.news .news_title {
  /* font-size: 16px; */
  /* line-height: 22px; */
  margin: 0;
  padding: 0;
}

.feedback_form label {
  /* font-size: 16px; */
  /* line-height: 22px; */
  font-weight: 400;
}

.feedback_form {
  border-radius: 10px;
  background-color: rgb(248, 247, 244);
  position: absolute;
  left: 5px;
  top: 5px;
  width: 549px;
  height: 211px;
  z-index: 111;
  padding: 0 20px;
  padding-top: 35px;
  box-sizing: border-box;
}

.feedback_form input {
  display: inline-block;
  width: 370px;
  line-height: 24px;
  border: none;
  border: none;
  box-shadow: 0 0 1px 0 gray;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  margin-right: 4px;
}

.feedback_form .btn {
  margin-top: 40px;
  padding: 10px 20px 10px 20px;
}

.news {
  background-image: url("../img/strawberry-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: lightgray;
  width: 560px;
  min-height: 220px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding: 30px 20px 10px 20px;
  box-sizing: border-box;
}

.new_text {
  width: 290px;
  line-height: 30px;
  font-size: 24px;
  text-decoration: underline;
  margin: 0;
}

.new_text a {
  color: #000;
}

.about-us .feedback {
  background-image: url(../img/bg-post.svg);
  background-repeat: no-repeat;
  background-color: #ff0080;
  background-size: cover;
  border-radius: 15px;
  min-height: 220px;
  width: 560px;
  position: relative;
  z-index: 0;
  box-sizing: border-box;
}

/*-------------------НАЧАЛО КАРТЫ------------------*/

.map {
  margin-top: 40px;
}

.map_form {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: #fefefe;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 0 25px;
  padding-top: 30px;
  position: absolute;
  right: 27px;
  top: 63px;
}

.map_form_paragraph {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  width: 155px;
  margin: 0;
  padding: 0;
}

.map_form_paragraph:nth-child(2) {
  width: 180px;
  margin-top: 22px;
  padding-bottom: 25px;
}

.map_form_paragraph_bold {
  display: block;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  width: 230px;
}

.map_image {
  width: 100%;
  min-height: 429px;
  background-image: url(../img/map.png);
  background-repeat: no-repeat;
  background-color: #ff8000;
  background-size: cover;
  border-radius: 15px;
  color: #000000;
  position: relative;
}

.map_form_btn {
  margin-bottom: 30px;
}

.contacts-tel {
  color: #000;
  text-decoration: none;
}

/* .map-image:after {
  content: "";
  display: flex;
  background-image: url(../img/pin.svg);
  width: 80px;
  min-height: 140px;
} */

/*-------------------ПОДВАЛ----------------------*/

.main_footer {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  padding-bottom: 30px;
}

.footer_info_item .link {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.footer_info_item:first-of-type>a {
  font-weight: 700;
}

.footer_description {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.footer_description .link {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.footer_info_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 300px;
  justify-content: space-between;
  list-style: none;
  margin: 0;
}

.footer_social_list {
  display: flex;
  list-style: none;
  padding: 0;
}

.social_button {
  margin-right: 12px;
}

.social_button:nth-child(4) {
  margin-right: 0;
}

.footer_social_list {
  margin: 0;
}

/* .footer_info_list .footer_info_item:first-child .link:before {
  content: "";
  display: block;
  background-image: url(../img/heart.svg);
  width: 15px;
  min-height: 13px;
} */

.footer_copyright {
  position: relative;
  margin-top: 25px;
}

.footer_copyright .footer_description:before {
  content: "";
  display: block;
  background-image: url(../img/logo-htmlacademy.svg);
  background-repeat: no-repeat;
  width: 108px;
  min-height: 39px;
  position: absolute;
  /* top: -47px; */
  bottom: 26px;
}

.link:visited {
  color: #fff;
}

.link:not(.header_navigation.link):hover,
.link:active {
  color: #ffbc9e;
}


/*----------------модальные окна--------------------*/


/*------модальные окна----------обратная связь---------------------*/

.modal_feedback {
  padding: 20px 25px 25px 25px;
  background-color: #f8f7f4;
  box-sizing: border-box;
  width: 477px;
  color: #000;
  border-radius: 10px;
  position: fixed;
  top: 308px;
  left: 50%;
  margin-left: -240px;
  z-index: 100;

  display: none;
}

.feedback_form_title {
  margin: 0;
  padding: 0;
  margin-bottom: 26px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}

.modal_feedback_form {
  display: flex;
  flex-direction: column;
  position: relative;
  
}

.modal_feedback_form textarea {
  width: 426px;
  box-sizing: border-box;
  border: none;
  box-shadow: 0 0 1px 0 gray;
  border-radius: 5px;
  padding: 10px 15px;
  resize: none;
  height: 153px;
  margin-bottom: 26px;
}

.modal_feedback_form input {
  border: none;
  box-shadow: 0 0 1px 0 gray;
  border-radius: 5px;
  padding: 9px 15px;
  width: 265px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.feedback_form_btn {
  /* background-image: url(../img/cross-big.svg); */
  /* background-repeat: no-repeat; */
  width: 17px;
  min-height: 17px;
  background-color: transparent;
  position: absolute;
  border:none;
  right: -8px;
  top: 0;
}

.feedback_form_btn::after {
    content: "";
    width: 17px;
    min-height: 17px;
    position: absolute;
    background-image: url('../img/cross-big.svg');
    background-repeat: no-repeat;
    top: 0;
    right: 0;
}

.modal_feedback_form .btn {
  width: 138px;
  box-sizing: border-box;
  margin-left: auto;
}

/*-------------Catalog--------------------*/

.navigation_menu_list {
  display: flex;
  list-style: none;
}

.navigation_menu_list .link {
  line-height: 16px;
  font-size: 14px;
  font-weight: 400;
}

.general_title {
  font-size: 35px;
  line-height: 41px;
}

.main.container {
  display: flex;
  flex-direction: column;
}

.user_navigation.basket span {
  color: #000;
}

/*-----------FILTERS----------------*/

.main_filter_form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.fieldset {
  border: none;
}

.fieldset:nth-child(1) .sorting_list {
  width: 190px;
  background-color: rgba(248, 247, 244, 0.2);
  border-radius: 20px;
  width: 194px;
  min-height: 37px;
}

.fieldset:nth-child(2) input {
  background-color: rgba(255, 255, 255, 0.2);
  width: 220px;
  min-height: 37px;
}

.fieldset:nth-child(3) .filter_weight_list {
  display: flex;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  width: 415px;
  min-height: 37px;
  list-style: none;
}

.fieldset:nth-child(4) .filter_fillers_list {
  display: flex;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  width: 703px;
  min-height: 37px;
  list-style: none;
}

.btn_filter {
  border-style: solid;
  border-width: 2px;
  border-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.188);
  border-radius: 20px;
  width: 148px;
  min-height: 41px;
  display: flex;
  justify-content: center;
  align-self: center;
}

.filter_sorting_title,
.filter_price_title,
.filter_weight_title,
.filter_fillers_title,
.sorting-link {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.filter_sorting_title .sorting-link,
.filter_weight_list label,
.filter_fillers_list label,
.btn_filter {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.filter_sorting {}

/*------------морожено-------------------*/

.products {
  display: flex;
  flex-direction: column;
}

.products_list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product {
  width: 267px;
}

.icecream_price .price {
  font-size: 45px;
  line-height: 45px;
}

.icecream_price .measure {
  font-size: 30px;
  line-height: 45px;
}

/*-----------------------pagination------*/

.pagination {
  margin-left: auto;
}

.pagination_list {
  display: flex;
  list-style: none;
}

.pagination a {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

/*----------------footer----------------*/

.link_footer {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400
}

.footer_info_list li:first-of-type>.link_footer {
  line-height: 16px;
  font-weight: 700;
}

.footer_description.catalog {
  line-height: 18px;
}

.table {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
}

/*-------------------------ТАБЛИЦА МОДАЛКА----------------*/

.modal.modal_basket {
  display: flex;
  flex-direction: column;
  width: 540px;
}

.modal_basket_res {
  margin-left: auto;
}

.modal.modal_basket p {
  font-size: 15px;
  line-height: 18px;
}

.modal.modal_basket .btn {
  font-weight: 700;
}

.modal_basket_res_btn.btn {
  width: 200px;
}
