body {
	background-color: lightgray;
}

.footer-info-list li:first-child .footer-button:before {
	content: "";
	display: inline-block;
	background: url(../img/heart.svg) no-repeat;
	width: 15px;
	height: 13px;
}

.footer-copyright .footer-description:before {
	content: "";
	display: block;
	background: url(../img/logo-htmlacademy.svg) no-repeat;
	width: 108px;
	height: 39px;
}
